@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default: light mode */
:root {
  color-scheme: light;
}

body {
  @apply bg-slate-50 text-slate-900 font-sans antialiased;
}

/* Saat body punya class "dark" */
body.dark {
  color-scheme: dark;
  @apply bg-background text-slate-100;
}
